**/*.lock
**/*.lha
**/*.zip
.D*
**/*.log
**/*.cmd
**/*.lib
**/.*.swp
**/*.obj
**/*.o
**/hack*.img
**/cpmtest.img
**/ccpmtest.img
**/dostest.img
**/cpmhd.img
**/ccpm*.img
**/cpm86.img
**/dosplus.img
**/*.sym
**/*.lst
**/*.map
.vscode
**/push
**/push
