rom
**/*.lock
**/*.lha
**/*.zip
**/.D*
**/*.log
**/*.cmd
**/*.lib
**/.*.swp
**/*.obj
**/*.o
**/hack*.img
**/dostest.img
**/cpmhd.img
**/ccpm86-*.img
**/ccpmtest.img
**/cpm86-*.img
**/cpmtest.img
**/pcpm*.img
**/cdos-*.img
**/dosplus-*.img
**/*.sym
**/*.lst
**/*.map
**/.vscode
**/push
