**/*.lock
**/*.lha
**/*.zip
.D*
**/*.log
**/*.cmd
**/.*.swp
**/*.obj
**/*.o
**/hack*.img
**/cpmtest.img
**/cdostest.img
**/cpmhd.img
**/ccpm86.img
**/cpm86.img
**/cdos.img
**/*.sym
**/*.lst
**/*.map
.vscode
**/push
**/push
